<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>COLLECTION SHARE PAGE</h1>
		<div layout:fragment="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Movie Collection: <span th:text="${movieCollection.name}"></span></h3>
					<p th:if="${movieCollection.publicView}">You have shared this collection with the public (view only).</p>
					<p>You have shared this collection with <span th:text="${collectionPermissions.size()}">0</span> other user(s).</p>
					<a href="#" th:href="@{/collections/shareCollection(collectionId=${movieCollection.id})}">Share Collection With Another User</a>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Shared With Public</th>
						<th>Public URL</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td th:text="${movieCollection.publicView}? 'Yes' : 'No'">No</td>
						<td th:if="${movieCollection.publicView}"><a href="#" th:href="@{/public/viewCollection(collectionId=${movieCollection.id})}">Public URL</a></td>
						<td th:if="not ${movieCollection.publicView}">No public URL is available for this collection.</td>
						<td><a href="#" th:href="@{/collections/togglePublicView(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Toggle Public View</a></td>
					</tr>
					</tbody>
				</table>
				<table th:if="${collectionPermissions.size() > 0}" class="table table-striped">
					<thead>
					<tr>
						<th>Shared With User</th>
						<th>Edit Permission</th>
						<th>Share Accepted</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="collectionPermission : ${collectionPermissions}">
						<td th:text="${collectionPermission.username}">Username</td>
						<td th:text="${collectionPermission.allowEdit}? 'Yes' : 'No'">false</td>
						<td th:text="${collectionPermission.accepted}? 'Yes' : 'No'">true</td>
						<td>
							<a href="#" th:href="@{/collections/toggleEditPermission(collectionId=${movieCollection.id},username=${collectionPermission.username})}" class="btn btn-default" role="button">Toggle Edit Permission</a>
							<form th:action="@{/collections/revokePermission}" method="post" style="display: inline">
								<input type="hidden" name="collectionId" th:value="${movieCollection.id}"/>
								<input type="hidden" name="username" th:value="${collectionPermission.username}"/>
								<button type="submit" class="confirmDelete btn btn-default">Stop Sharing</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="confirmDeleteDialog" title="Confirm Sharing Change">
				<p>Are you sure you wish to stop sharing your collection with this user?</p>
			</div>
			<script type="text/javascript">
			var currentForm;
			$(document).ready(function() {  
					$( "#confirmDeleteDialog" ).dialog({
						autoOpen: false, modal: true,
					      buttons : {
						        "Confirm" : function() {
						          $(this).dialog("close");
						          currentForm.submit();
						        },
						        "Cancel" : function() {
						          $(this).dialog("close");
						        }
						      }
					});
			        $(".confirmDelete").click(function() {
			            currentForm = $(this).closest('form');
			            $("#confirmDeleteDialog").dialog('open');
			            return false;
			          });
			} );	
			
			</script>
		</div>
	</body>
</html>