<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Macros for form fields</title>
	</head>
	<body>
		<div th:fragment="text (label, fieldName)">
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<input type="text" th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" class="form-control" th:errorclass="fieldError"/>
					<p th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="keyValueText (keyFieldName, valueFieldName, hide, removeLink, attrIndex, attributeNames)">
			<div class="form-group" th:classappend="${hide}? pmdbHidden">
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" th:id="${keyFieldName} + '-input'" th:field="*{__${keyFieldName}__}" class="form-control" th:errorclass="fieldError"/>
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li th:each="attributeName : ${attributeNames}">
									<a href="#" th:attr="data-index='__${attrIndex}__'" th:text="${attributeName.toString()}" class="attributeSelect">Attribute Name</a>
								</li>
							</ul>
						</div>
					</div>
					<p th:if="${#fields.hasErrors('__${keyFieldName}__')}" th:errors="*{__${keyFieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
				<div class="col-md-8">
					<div class="input-group">
						<input type="text" th:id="${valueFieldName} + '-input'" th:field="*{__${valueFieldName}__}" class="form-control" th:errorclass="fieldError"/>
						<a href="#" th:if="${removeLink}" th:attr="data-index='__${attrIndex}__'" class="attributeRemove input-group-addon"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span></a>
					</div>
					<p th:if="${#fields.hasErrors('__${valueFieldName}__')}" th:errors="*{__${valueFieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="textDisabled (label, fieldName)">
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<input type="text" th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" class="form-control" th:errorclass="fieldError" disabled/>
					<p th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="password (label, fieldName)">
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<input type="password" th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" class="form-control" th:errorclass="fieldError"/>
					<p th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="passwordPair (label, fieldName, validatedFieldName)">  <!-- for our semi-custom Pair solution to password validation -->
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<input type="password" th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" class="form-control" th:errorclass="fieldError"/>
					<p th:if="${#fields.hasErrors('__${validatedFieldName}__')}" th:errors="*{__${validatedFieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="file (label, fieldName)">
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<input type="file" th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" class="form-control" th:errorclass="fieldError"/>
					<p th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="checkbox (label, fieldName)">
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<div class="checkbox">
						<label><input type="checkbox" th:field="*{__${fieldName}__}"><span th:text="${label}">Label</span></label>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="selectMultiple (label, fieldName, options, size)">
			<div class="form-group">
				<label for="inputId" th:attr="for=${fieldName} + '-input'" th:text="${label}" class="col-md-4 control-label">Label</label>
				<div class="col-md-8">
					<select th:id="${fieldName} + '-input'" th:field="*{__${fieldName}__}" multiple="multiple" class="form-control" th:attr="size='__${size}__'">
						<option th:each="option : ${options}" th:value="${option.value}" th:text="${option.text}">option</option>
					</select>
					<p th:if="${#fields.hasErrors('__${fieldName}__')}" th:errors="*{__${fieldName}__}" class="fieldErrorMessage">Errors</p>
				</div>
			</div>
		</div>
		<div th:fragment="radio (fieldName, options)">
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
						<div th:each="option : ${options}" class="radio">
							<input th:id="${fieldName} + '-' + ${option.value}" type="radio" th:field="*{__${fieldName}__}" th:value="${option.value}"/>
							<label th:for="${fieldName} + '-' + ${option.value}" th:text="${option.text}">Option</label>
						</div>
				</div>
			</div>
		</div>
		<div th:fragment="hidden (fieldName)">
			<input type="hidden" th:field="*{__${fieldName}__}"/>
		</div>
		<div th:fragment="submit (label)">
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<button type="submit" th:text="${label}" class="btn btn-default">Submit</button>
				</div>
			</div>
		</div>
		<div th:fragment="submitOrCancel (submitLabel, cancelLabel, cancelLink)">
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<button type="submit" th:text="${submitLabel}" class="btn btn-default">Submit</button>
					<a th:href="@{__${cancelLink}__}" th:text="${cancelLabel}" class="btn btn-default" role="button">Cancel</a>
				</div>
			</div>
		</div>
	</body>
</html>