<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>USER ADMIN PAGE</h1>
		<div layout:fragment="content">

			<h1>User Administration</h1>
			<form th:action="@{/useradmin/search}" th:object="${searchForm}" method="post" class="form-horizontal">
				<div th:replace="form/input :: text('Search For', 'searchString')"></div>
				<div th:if="${awsEnabled}" th:replace="form/input :: checkbox('Sync With Cloud', 'syncCloud')"></div>
				<div th:replace="form/input :: submit('Search')"></div>
				<a href="#" th:href="@{/useradmin/addNewUser}">Add New User</a>
			</form>
			
			<div th:if="${results}">
				<p>Showing <span th:text="${results.size()}">0</span> result(s)</p>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Enabled</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="result : ${results}">
						<td th:text="${result.username}">Username</td>
						<td th:text="${result.firstName}">First Name</td>
						<td th:text="${result.lastName}">Last Name</td>
						<td th:text="${result.enabled}">Enabled/Disabled</td>
						<td>
							<a href="#" th:href="@{/useradmin/editUser(username=${result.username})}" class="btn btn-default" role="button">Edit</a>
							<form th:if="not ${result.lastAccessDate}" th:action="@{/useradmin/deleteUser}" method="post" style="display: inline">
								<input type="hidden" name="username" th:value="${result.username}"/>
								<button type="submit" class="confirmDelete btn btn-default">Delete</button>
							</form>
							<a href="#" th:if="${awsEnabled} and ${usernamesNotInCloud} and ${#lists.contains(usernamesNotInCloud, result.username)}" th:href="@{/useradmin/syncUserToCloud(username=${result.username})}" style="padding-left: 10px"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${usernamesOnlyInCloud} and ${usernamesOnlyInCloud.size() > 0}">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Username</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="cloudResult : ${usernamesOnlyInCloud}">
						<td th:text="${cloudResult}">Username</td>
						<td><a href="#" th:href="@{/useradmin/syncUserFromCloud(username=${cloudResult})}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="confirmDeleteDialog" title="Confirm Delete">
				<p>Are you sure you wish to delete this user?</p>
			</div>
			<script th:replace="script/script :: confirmDialog('#confirmDeleteDialog', '.confirmDelete')"></script>
		</div>
	</body>
</html>