<ul class="nav nav-tabs">
	<li role="presentation"><a id="movieDetailsTab" href="#" th:href="@{/public/movieDetails(movieId=${movie.id})}">Movie Details</a></li>
	<li role="presentation" class="active"><a href="#">Statistics</a></li>
</ul>
<div class="panel panel-info" style="padding: 10px;">
	<div class="panel panel-default">
		<div class="panel-heading"><strong>IMDB Rating</strong></div>
		<div class="panel-body">
			<h4 th:text="${movie.title}">Movie Title</h4>
			<div class="progress">
				<div class="progress-bar" role="progressbar" th:style="'width: ' + ${#numbers.formatPercent(ratingMoviePBar.percent, 1, 0)}">
					<span th:text="${ratingMoviePBar.label} + ${#numbers.formatDecimal(ratingMoviePBar.value, 1, 1)}">7.0</span>
				</div>
			</div>
			<h4 th:text="${defaultMovieCollection.name}">Movie Collection Name</h4>
			<div class="progress">
			<div th:each="bar : ${ratingCollectionPBar.bars}" class="progress-bar" th:classappend="${bar.cssClass}" role="progressbar"
				th:style="'width: ' + ${#numbers.formatPercent(bar.percent, 1, 0)}">
				<span th:text="${bar.label} + ${#numbers.formatDecimal(bar.value, 1, 1)}">5.5</span>
			</div>
			</div>			
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>IMDB Votes</strong></div>
		<div class="panel-body">
			<h4 th:text="${movie.title}">Movie Title</h4>
			<div class="progress">
				<div class="progress-bar" role="progressbar" th:style="'width: ' + ${#numbers.formatPercent(votesMoviePBar.percent, 1, 0)}">
					<span th:text="${votesMoviePBar.label} + ${#numbers.formatDecimal(votesMoviePBar.value, 1, 'COMMA', 0, 'POINT')}">7500</span>
				</div>
			</div>
			<h4 th:text="${defaultMovieCollection.name}">Movie Collection Name</h4>
			<div class="progress">
				<div th:each="bar : ${votesCollectionPBar.bars}" class="progress-bar" th:classappend="${bar.cssClass}" role="progressbar" 
					th:style="'width: ' + ${#numbers.formatPercent(bar.percent, 1, 0)}">
					<span th:text="${bar.label} + ${#numbers.formatDecimal(bar.value, 1, 'COMMA', 0, 'POINT')}">12,500</span>
				</div>
			</div>			
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Genre</strong></div>
		<div class="panel-body">
			<div class="row" th:if="${genreStatistics}">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-5">
					 		<span>Most common in </span><span th:text="${defaultMovieCollection.name}" style="font-weight: bold">My Movie Collection</span>
					 	</div>
					 	<div class="col-xs-1">
					 		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					 	</div>
					 	<div class="col-xs-6">	
					 		<span th:text="${genresMostCommon}">Action (100)</span>
					 	</div>
					</div>
				</div>
			</div>
			<div class="row" th:if="${genreStatistics}">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-5">
					 		<span th:text="${movie.title}" style="font-weight: bold">My Movie</span>
						</div>
					 	<div class="col-xs-1">
					 		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					 	</div>
						<div class="col-xs-6">
					 		<span th:text="${specificGenreCounts}">Action (100)</span>
					 	</div>
					</div>
				</div>
			</div>
			<div class="row" th:if="${genreStatistics}">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-5">
					 		<span>Least common in </span><span th:text="${defaultMovieCollection.name}" style="font-weight: bold">My Movie Collection</span>
					 	</div>
					 	<div class="col-xs-1">
					 		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					 	</div>
					 	<div class="col-xs-6">
					 		<span th:text="${genresLeastCommon}">Donuts (1)</span>
					 	</div>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-default movieDetailsClose">Close</button>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function() {
	$("#movieDetailsDialog").dialog("option", "title", [[${movie.title}]]);
	$(".movieDetailsClose").click(function (e) {
		$("#movieDetailsDialog").dialog("close");
	});
	$("#movieDetailsTab").click(function (e) {
		e.preventDefault();
		$.ajax({
			dataType: "html",
			url: $(this).attr("href")
		}).done(function (data) {
			$("#movieDetailsDialog").html(data);
		});		
	});
});
</script>