<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>EDIT MOVIE PAGE</h1>
		<div layout:fragment="content">
			<h1>Edit Movie</h1>
			<form th:action="@{/movies/editMovieSubmit}" th:object="${movieForm}" method="post" class="form-horizontal">
				<div th:replace="form/input :: hidden('id')"></div>
				<div th:replace="form/input :: hidden('collectionId')"></div>
				<div th:replace="form/input :: text('Movie Title', 'title')"></div>
				<div th:each="index : *{keyValueIndicies}">
					<div th:replace="form/input :: keyValueText('attrKey'+${index}, 'attrValue'+${index})"></div>
				</div>
				<div th:replace="form/input :: submit('Save Movie')"></div>
			</form>
		</div>
	</body>
</html>