<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>MOVIES PAGE</h1>
		<div layout:fragment="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 th:text="'Movie Collection: ' + ${defaultMovieCollection.name}">Movie Collection Name</h3>
					<p>Filtered by search to <span th:text="${movies.size()}">0</span> out of <span th:text="${totalMoviesInCollection}">0</span> movies in the collection.</p>
					<form th:action="@{/movies/search}" th:object="${searchForm}" method="post" class="form-inline">
						<label for="inputId" th:attr="for='search-input'" th:text="'Search this collection'">Label</label>
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
						<input type="text" th:id="'search-input'" th:field="*{searchString}" class="form-control"/>
						<button type="submit" th:text="'Search'" class="btn btn-default">Submit</button>
						<a href="#" th:if="${defaultMovieCollection.editable}" th:href="@{/imdbsearch}" class="btn btn-default" role="button">Add Movie (IMDB Search)</a>
						<a href="#" th:if="${defaultMovieCollection.editable}" th:href="@{/movies/addMovie}" class="btn btn-default" role="button">Add Movie</a>
						<a href="#" th:href="@{/movies/configureColumns}" class="btn btn-default" role="button">Table Settings</a>
					</form>
				</div>
				<table id="movieTable" class="table table-striped">
					<thead>
					<tr>
						<th>Title</th>
						<th th:each="columnName : ${attrColumns}"><span th:text="${columnName}"></span></th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="movie : ${movies}">
						<td th:text="${movie.title}">Movie Title</td>
						<td th:each="columnName : ${attrColumns}" th:text="${movie.getAttributeValue('__${columnName}__')}"></td>
						<td>
							<a href="#" th:if="${defaultMovieCollection.editable}" th:href="@{/movies/editMovie(movieId=${movie.id})}" class="btn btn-default" role="button">Edit</a> 
							<form th:if="${defaultMovieCollection.editable}" th:action="@{/movies/deleteMovie}" method="post" style="display: inline">
								<input type="hidden" name="movieId" th:value="${movie.id}"/>
								<button type="submit" class="confirmDelete btn btn-default">Delete</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="confirmDeleteDialog" title="Confirm Delete">
				<p>Are you sure you wish to delete this movie?</p>
			</div>
			<script type="text/javascript">
			var currentForm;
			$(document).ready(function() {  
					$( "#confirmDeleteDialog" ).dialog({
						autoOpen: false, modal: true,
					      buttons : {
						        "Confirm" : function() {
						          $(this).dialog("close");
						          currentForm.submit();
						        },
						        "Cancel" : function() {
						          $(this).dialog("close");
						        }
						      }
					});
			        $(".confirmDelete").click(function() {
			            currentForm = $(this).closest('form');
			            $("#confirmDeleteDialog").dialog('open');
			            return false;
			          });
			        $("#movieTable").DataTable({
			        	searching: false,
			        	columnDefs: [
			        		{ targets: -1, orderable: false}
			        	]
			        });
			} );	
			
			</script>
		</div>
	</body>
</html>