<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PMDB - Personal Movie Database</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/signin.css}"/>
		<link rel="stylesheet" th:href="@{/css/pmdb.css}"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<h2 style="text-align: center">PMDB - Personal Movie Database</h2>
			<div th:if="${registrationSuccess}" class="alert alert-success" role="alert">
				<p><strong>Registration Success*</strong></p>
				<p>Your new account has been created.  However, email activation is currently unavailable.  An administrator will activate your account after it has been reviewed.</p>
			</div>
			<div th:if="not ${registrationSuccess}" class="alert alert-danger" role="alert">
				<p><strong>Registration Failure</strong></p>
				<p th:text="${alertErrorMessage}"></p>
			</div>
		</div>
		<script th:src="@{/js/jquery-1.12.4.min.js}" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script th:src="@{/js/bootstrap.min.js}" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>			
		<div style="text-align: center">
			<a th:href="@{/login.html}">Return To Login</a>
		</div>
	</body>
</html>