<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>COLLECTIONS PAGE</h1>
		<div layout:fragment="content">
			<div th:if="${defaultMovieCollection}" class="panel panel-info">
				<div class="panel-heading">
					<h3 th:text="'Movie Collection: ' + ${defaultMovieCollection.name}">Movie Collection Name</h3>
				</div>
				<p class="pmdbPanelParagraph">This is your active movie collection.  The <span th:text="${defaultMovieCollection.name}" style="font-weight: bold"></span> movie collection will be used by default when managing or searching movies.  You can 
				change your active movie collection in the list of movie collections listed on this page.</p>
				
			</div>
			<div th:if="not ${defaultMovieCollection}" class="panel panel-warning">
				<div class="panel-heading">
					<p th:text="'No active movie collection has been set.'">Default Movie Collection Name</p>
				</div>
				<p class="pmdbPanelParagraph">Set a movie collection active from the list below.  If you do not have any movie collections listed below you wish to work with,
				add a new movie collection.</p>
				
			</div>			
			<div class="panel panel-info">
				<div class="panel-heading">
					<p>You have access to <span th:text="${movieCollections.size()}">0</span> movie collection(s).</p>
					<a href="#" th:href="@{/collections/addCollection}">Add New Movie Collection</a>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Collection Name</th>
						<th>Collection Owner</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="movieCollection : ${movieCollections}">
						<td th:text="${movieCollection.name}">Collection Name</td>
						<td th:text="${movieCollection.owner}">Collection Owner</td>
						<td>
							<a href="#" th:href="@{/collections/changeDefaultCollection(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Set Active</a>
							<a href="#" th:if="${movieCollection.editable}" th:href="@{/collections/editCollection(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Edit Name</a>
							<a href="#" th:if="${movieCollection.editable}" th:href="@{/collections/editSharing(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Sharing</a>
							<form th:action="@{/collections/deleteCollection}" method="post" style="display: inline">
								<input type="hidden" name="collectionId" th:value="${movieCollection.id}"/>
								<button type="submit" class="confirmDelete btn btn-default">Delete</button>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${shareOffers}" class="panel panel-success">
				<div class="panel-heading">
					<p>You have <span th:text="${shareOffers.size()}">0</span> movie collection share request(s) pending.</p>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Collection Name</th>
						<th>Collection Owner</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="movieCollection : ${shareOffers}">
						<td th:text="${movieCollection.name}">Collection Name</td>
						<td th:text="${movieCollection.owner}">Collection Owner</td>
						<td>
							<a href="#" th:href="@{/collections/acceptShareOffer(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Accept</a>
							<a href="#" th:href="@{/collections/declineShareOffer(collectionId=${movieCollection.id})}" class="btn btn-default" role="button">Decline</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="confirmDeleteDialog" title="Confirm Delete">
				<p>Deleting this collection will delete all of the movie entries associated with it.  Are you sure 
				you wish to delete the entire movie collection?</p>
			</div>
			<script type="text/javascript">
			var currentForm;
			$(document).ready(function() {  
					$( "#confirmDeleteDialog" ).dialog({
						autoOpen: false, modal: true,
					      buttons : {
						        "Confirm" : function() {
						          $(this).dialog("close");
						          currentForm.submit();
						        },
						        "Cancel" : function() {
						          $(this).dialog("close");
						        }
						      }
					});
			        $(".confirmDelete").click(function() {
			            currentForm = $(this).closest('form');
			            $("#confirmDeleteDialog").dialog('open');
			            return false;
			          });
			} );	
			
			</script>
		</div>
	</body>
</html>