<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>USER ADMIN PAGE</h1>
		<div layout:fragment="content">
			<div>
			Search Users:
			<form th:action="@{/useradmin/search}" th:object="${searchForm}" method="post">
				Username: <div th:replace="form/input :: text('username')"></div>
				<input type="submit" value="Search"/>
			</form>
			</div>
			<div th:if="${results}">
				<p>Showing <span th:text="${results.size()}">0</span> result(s)</p>
				<table>
					<thead>
					<tr>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Enabled</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="result : ${results}">
						<td th:text="${result.username}">Username</td>
						<td th:text="${result.firstName}">First Name</td>
						<td th:text="${result.lastName}">Last Name</td>
						<td th:text="${result.enabled}">Enabled/Disabled</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>