<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
	<head>
		<title>PMDB</title>
	</head>
	<body>
		<h1>IMDB SEARCH</h1>
		<div layout:fragment="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Search IMDB</h3>
				</div>
				<div class="panel-body">
					<form th:id="searchForm" th:action="@{/imdbsearch/searchSubmit}" th:object="${searchForm}" method="post" class="form-horizontal">
						<div th:replace="form/input :: text('Movie Title', 'title')"></div>
						<div th:replace="form/input :: text('Year', 'year')"></div>
						<input th:id="searchFormPage" type="hidden" th:field="*{page}"/>
						<input type="hidden" th:field="*{linkMovieId}"/>
						<input th:id="linkImdbId" type="hidden" th:field="*{linkImdbId}"/>
						<input type="hidden" th:field="*{linkAll}"/>
						<div th:replace="form/input :: submit('Search IMDB')"></div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="text-align: right">
					<p th:if="${searched}" th:text="'There are ' + ${totalResults} + ' total results.'">There are X total results.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="text-align: right; padding-bottom: 15px">
					<div th:if="${searched}">
						<div th:replace="imdbsearch/paginator :: paginator(${searchForm.page}, ${totalResults}, 'searchFormPage')"></div>
					</div>
				</div>
			</div>
			<div th:if="${linkMovie}" class="row">
				<div class="col-xs-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4 style="display: inline">Linking movie <span th:text="${linkMovie.title}">Movie Title</span> to IMDB...</h4>
							<button style="padding-left: 15px" id="unlinkMovieButton" type="button" class="btn btn-default" th:if="not ${#strings.isEmpty(linkMovie.getAttribute('Imdb Id'))}">Unlink</button>
							<button style="padding-left: 15px" id="skipMovieButton" type="button" class="btn btn-default" th:if="${searchForm.linkAll}">Skip To Next</button>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${searchResults}">
				<div th:each="searchResult : ${searchResults}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 th:text="${searchResult.title}" class="panel-title"></h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-4">
									<img th:if="${searchResult.poster}" th:src="${searchResult.poster}" alt="Movie Poster" width="150" height="222"/>
								</div>
								<div class="col-xs-8">
									<div class="panel panel-default">
										<div class="panel-body">
											<div class="row"><div class="col-xs-4">Type:</div><div class="col-xs-8" th:text="${searchResult.type}"></div></div>
											<div class="row"><div class="col-xs-4">Year:</div><div class="col-xs-8" th:text="${searchResult.year}"></div></div>
											<div class="row"><div class="col-xs-4">IMDB:</div><div class="col-xs-8"><a th:href="@{https://www.imdb.com/title/{imdbId}(imdbId=${searchResult.imdbID})}" th:text="${searchResult.imdbID}"></a></div></div>
											<div class="row"><div class="col-xs-12"><p th:id="${searchResult.imdbID}" th:classappend="${!searchResult.inCollection}? pmdbInvisible" style="color: green; font-weight: bold"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> In Your Movie Collection</p></div></div>
											<div th:if="${defaultMovieCollection != null and defaultMovieCollection.editable}" class="row">
												<div class="col-xs-12">
													<button th:if="not ${linkMovie}" type="button" th:id="${searchResult.imdbID} + '-button'" class="btn btn-default addToMovieCollection" th:attr="data-href='/pmdb/imdbsearch/addToCollection?imdbId=__${searchResult.imdbID}__'">Add To Collection</button>
													<button th:if="${linkMovie}" type="button" th:id="${searchResult.imdbID} + '-button'" class="btn btn-default linkToMovie" th:attr="data-imdbid=${searchResult.imdbID}">Link To This Movie</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" th:if="${totalResults > 0}">
				<div class="col-xs-12" style="text-align: right; padding-bottom: 15px">
					<div th:if="${searched}">
						<div th:replace="imdbsearch/paginator :: paginator(${searchForm.page}, ${totalResults}, 'searchFormPage')"></div>
					</div>
				</div>
			</div>
			<script th:if="${linkMovie}" type="text/javascript">
			$(document).ready(function() { 
				$(".linkToMovie").click(function (e) {
					e.preventDefault();
					$(this).attr("disabled", true);
					$("#linkImdbId").val($(this).data("imdbid"));
					$("#searchForm").submit();
				});
				$("#unlinkMovieButton").click(function (e) {
					e.preventDefault();
					$(this).attr("disabled", true);
					$("#linkImdbId").val("unlink");
					$("#searchForm").submit();
				});
				$("#skipMovieButton").click(function (e) {
					e.preventDefault();
					$(this).attr("disabled", true);
					$("#linkImdbId").val("skip");
					$("#searchForm").submit();
				});
			});
			</script>
			<script th:if="not ${linkMovie}" type="text/javascript">
			$(document).ready(function() {  
				$(".addToMovieCollection").click(function (e) {
					e.preventDefault();
					$(this).attr("disabled", true);
					$.ajax({
						dataType: "json",
						url: $(this).data("href")
					}).done(function (data) {
						if (data.ok) {
							$("#" + data.content.imdbId).removeClass("pmdbInvisible");
						} else {
							$("<div>").html(data.errorMessage).dialog({
								title: "Error",
								modal: true,
								close: function() {
									$(this).dialog("destroy").remove();
								},
								buttons: [{
									text: "Ok",
									click: function() {
										$(this).dialog("close");
									}
								}]
							});
						}
						$("#" + data.content.imdbId + "-button").attr("disabled", false);
					}).fail(function(jqxhr, textStatus, error) {
						var errorMessage = "Script Error: textStatus=" + textStatus + ", error=" + error;
						$("<div>").html(errorMessage).dialog({
							title: "Error",
							modal: true,
							close: function() {
								$(this).dialog("destroy").remove();
							},
							buttons: [{
								text: "Ok",
								click: function() {
									$(this).dialog("close");
								}
							}]
						});
					});
				});
			});
			</script>
		</div>
	</body>
</html>