<div th:if="${defaultMovieCollection.editable}" class="text-right" style="overflow: visible; white-space: nowrap">
	<a href="#" th:href="@{/movies/editMovie(movieId=${movie.id})}" class="btn btn-default" role="button">Edit</a> 
	<a href="#" th:if="not ${#strings.isEmpty(movie.getAttribute('Imdb Id'))}" th:href="@{/imdbsearch/link(movieId=${movie.id},linkAll=false)}" class="btn btn-default" role="button">Relink</a>
	<form th:action="@{/movies/deleteMovie}" method="post" style="display: inline">
		<input type="hidden" name="movieId" th:value="${movie.id}"/>
		<button type="submit" class="confirmDelete btn btn-default">Delete</button>
	</form>
	<button type="button" class="btn btn-default movieDetailsClose">Close</button>
</div>
<ul class="nav nav-tabs">
	<li role="presentation"><a id="movieDetailsTab" href="#" th:href="@{/movies/movieDetails(movieId=${movie.id})}">Movie Details</a></li>
	<li role="presentation" class="active"><a href="#">Statistics</a></li>
</ul>
<div class="panel panel-info" style="padding: 10px;">
	<div class="row">
		<div class="col-xs-8">
			<h3 th:text="${defaultMovieCollection.name}">Movie Collection Name</h3>
		</div>
		<div class="col-xs-4">
			<h3 th:text="${movie.title}">Movie Title</h3>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">IMDB Rating</div>
		<div class="panel-body">
			<div class="row" th:if="${ratingStatistics}">
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-6"><p>Minimum</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(ratingStatistics.min, 1, 1)}">1.0</p></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><p>Average</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(ratingStatistics.average, 1, 1)}">5.0</p></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><p>Maximum</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(ratingStatistics.max, 1, 1)}">9.0</p></div>
					</div>
				</div>
				<div class="col-xs-4">
					<p><span th:text="${movie.getAttribute('Imdb Rating')}">7.0</span><span th:if="${ratingStatistics.isOutlier(movie.getAttribute('Imdb Rating'))}">&nbsp;(Outlier)</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">IMDB Votes</div>
		<div class="panel-body">
			<div class="row" th:if="${voteStatistics}">
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-6"><p>Minimum</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(voteStatistics.min, 1, 'COMMA', 0, 'POINT')}">960</p></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><p>Average</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(voteStatistics.average, 1, 'COMMA', 0, 'POINT')}">12,500</p></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><p>Maximum</p></div>
						<div class="col-xs-6"><p th:text="${#numbers.formatDecimal(voteStatistics.max, 1, 'COMMA', 0, 'POINT')}">162,000</p></div>
					</div>
				</div>
				<div class="col-xs-4">
					<p><span th:text="${movie.getAttribute('Imdb Votes')}">7.0</span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<button type="button" class="btn btn-default movieDetailsClose">Close</button>
<div th:if="${defaultMovieCollection.editable}" id="confirmDeleteDialog" title="Confirm Delete">
	<p>Are you sure you wish to delete this movie?</p>
</div>
<!--/* We can't put a th:if on the script because th:replace executes first, but it doesn't hurt to have script without dialog and buttons present, so just always include it */-->
<script th:replace="script/script :: confirmDialog('#confirmDeleteDialog', '.confirmDelete')"></script>
<script th:inline="javascript" type="text/javascript">
$(document).ready(function() {
	$("#movieDetailsDialog").dialog("option", "title", [[${movie.title}]]);
	$(".movieDetailsClose").click(function (e) {
		$("#movieDetailsDialog").dialog("close");
	});
	$("#movieDetailsTab").click(function (e) {
		e.preventDefault();
		$.ajax({
			dataType: "html",
			url: $(this).attr("href")
		}).done(function (data) {
			$("#movieDetailsDialog").html(data);
		});		
	});
});
</script>
